:root {
    --black: #252525;
    --grey: #bfbfbf;
    --silver-grey: #666666;
    --green: #2be200;
    --yellow: #ffc000;
    --white: #FFFF;
    --darkmodeItem: #32363E;
    --checkbox: #464951;
    --dark-yellow: #FFDA0A;
    --selectInputDate: #707378;
    --default-button: #32363E;
    --silver-white: #F2F2F2;
    --hover-button: #595959;
}
